html, body {
    width: 100%;
    height: 100%;
    margin-top: -10%;
    background-color: moccasin;
}

#main {
    position: absolute;
    left: 50%;
    top: 5%;
    height: 600px;
    width: 450px;
    margin-left: -225px;
    margin-top: -20px;
}

#title {
    margin-left: 30%;
}

#options {
    height: 100%;
    width: 120px;
    margin-top: 40%;
    margin-left: 40px;
}

#blackRadio {
    display: block;
}

#rainbowRadio {
    margin-top: 10%;
    display: block;
}

#resetButton {
    margin-top: 50%;
    height: 40px;
    width: 80px;
}


#container {
    display: grid;
    position: absolute;
    padding-left: 1px;
    padding-top: 1px;
    left: 50%;
    top: 50%;
    height: 450px;
    width: 450px;
    margin-left: -225px;
    margin-top: -225px;
    grid-template-columns: repeat(30, 1fr);
    background-color: black;
}

.gridCell {
    width: 14px;
    height: 14px;
    background-color: white;
}

.mouseOver {
    background-color: black;
}